<!DOCTYPE html>
<html>
  <head>

 <div class="title">
   Mb Beauty Salon
 </div>
    <div class="btn-group">

      <a href="/homes"><button>Home</button></a>
      <a href="/services"><button>Services</button></a>
      <a href="/galleries"><button>Gallery</button></a>
      <a href="/bookings"><button>Booking</button></a>


    </div>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>


  </body>
</html>
